*{
    padding:0;
    margin:0;
}


body{
    
   background-color: 
   #f2fcfe;
   
}
.main{
    
    height:97vh;
    background-image:url("assets/img/bgg1.jpg");
    position:relative;
    background-repeat:no repeat;
}

.main .box{
    height:80vh;
    width:100%;
    position:absolute;
    top:0;
    display:flex;
    justify-content:center;
    align-items: center;
    opacity:0.7;

}



.main .box .box1{
    font-family:  'Amatic SC' , 'Cedarville Cursive',sans-serif;
    font-size: 100px;
    font-weight: bolder;
}
nav{
    display:flex;
    flex-direction:row-reverse;

}

.button1{
    background-color: rgb(248, 182, 209);
    padding:5px;
    border-radius:12px;
    width:90px;
    margin:10px;  
    font-family:  'Amatic SC' , 'Cedarville Cursive',sans-serif;
  
}

.c{
  
    font-family: 'Cedarville Cursive', 'Amatic SC' , sans-serif;
    text-align:right;
    background-color:#e6b158;
    
}

.cc{

  height:245px;
  
  width:400px;
 
  display:inline-flexbox;

}

.contain{
    display:flex;
    position:relative;
   top:-246px;
   left:401px;
    height:60px;
    width:300px;
    justify-content:center;
    align-items:center;
    animation-name:animatebox1;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    background-color: #ddbea5;
}

@keyframes animatebox1 {
    from{
        width:100px;}
        to{
            width:300px;
        }
}

.contai{
    display:flex;
    position:relative;
   top:-246px;
   margin-top:3px;
   left:401px;
    height:60px;
    width:300px;
    justify-content:center;
    align-items:center;
    animation-name:animatebox2;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    background-color: #eea990;
}

@keyframes animatebox2 {
    from{
        width:100px;}
        to{
            width:500px;
        }
}

.conta{
    display:flex;
    position:relative;
    margin-top:3px;
   top:-246px;
   left:401px;
    height:60px;
    width:300px;
    justify-content:center;
    align-items:center;
    animation-name:animatebox3;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    background-color: #eee0ca;
}

@keyframes animatebox3 {
    from{
        width:100px;}
        to{
            width:700px;
        }
}

.cont{
    display:flex;
    position:relative;
    margin-top:3px;
   top:-246px;
   left:401px;
    height:56px;
    width:300px;
    justify-content:center;
    align-items:center;
    animation-name:animatebox4;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    background-color: #ddc6c6;
}

@keyframes animatebox4 {
    from{
        width:100px;}
        to{
            width:900px;
        }
}

.containing{
    position:relative;
    top:-220px;
    display:grid;
    grid-template-columns: 900px 900px;
}

.c2{
    display:flex;
    height:400px;
    width:800px;
    justify-content: center;
    align-items: center;
    
}

.c22{
    font-family:'Times New Roman', Times, serif;
    font-size:xx-large;
    text-align: center;
   
}

.c3{
    display:flex;
    position:relative;
    align-items:left;
    right:100px;
    height:500px;
    width: 500px;  
    border-radius:20px;
 
}

.classimage{
    border-radius:20px;
}


.c22c{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:small;
}


